<section class="devops-in-a-box">
  <div class="devops-in-a-box-wrapper">
    <div>INTRODUCING</div>
    <div class="devops-box__title">
      <span class="fw-6">DevOps</span> in a Box
    </div>
    <div class="devtron__description">
      Focus on your core product while Devtron helps you perfect the software delivery workflow for kubernetes
    </div>
    <div class="mt-16 flex">
      <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-check.png" alt="check" />
      <span class="ml-12">Productionize Kubernetes Quickly </span>
    </div>
    <div class="mt-8 flex">
      <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-check.png" alt="check" />
      <span class="ml-12">Single UI to Build, Deploy, Debug</span>
    </div>
    <div class="mt-8 flex">
      <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-check.png" alt="check" />
      <span class="ml-12">10x DevOps Efficiency</span>
    </div>
    <div class="mt-8 flex">
      <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-check.png" alt="check" />
      <span class="ml-12">Optimize Cost</span>
    </div>

    <div class="about__footer-container flex">
      <a href="https://devtron.ai/devops-in-a-box.html" target="_blank" class="flex about__github-link mr-12 mt-12">
        <span class="vertical-middle mr-12">Contact Us</span>
        <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-handpointing.svg" alt="handpointing" />
      </a>
      <a href="https://preview.devtron.ai/" style="box-shadow: none;"
        class="flex about__know-link about__know devops__try-devtron mt-12" target="_blank">
        <span class="vertical-middle mr-12">Try Devtron</span>
        <img class="m-0 icon-dim-24" src="../assets/img/devops-box/ic-game.svg" alt="try-devtron" />
      </a>
    </div>
  </div>

</section>