<svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 37</title>
    <g id="Details-(New)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-37">
            <path d="M24,48 C37.254375,48 48,37.254375 48,24 C48,10.745625 37.254375,0 24,0 C10.745625,0 0,10.745625 0,24 C0,37.254375 10.745625,48 24,48 Z" id="Shape" fill="#F2F4F7" fill-rule="nonzero"></path>
            <path d="M28.2691673,25.225229 C32.4376893,26.9518187 35.1558173,31.0193005 35.15625,35.53125 L12.8436731,35.53125 C12.8359393,32.5709321 14.0127493,29.7305192 16.111875,27.643125 C19.3025214,24.4529113 24.1006453,23.4986392 28.2691673,25.225229 Z M24,11.53125 C27.1521652,11.53125 29.7075,14.0865848 29.7075,17.23875 C29.7075,20.3909152 27.1521652,22.94625 24,22.94625 C20.8478348,22.94625 18.2925,20.3909152 18.2925,17.23875 C18.2986899,14.0891523 20.8504023,11.5374399 24,11.53125 Z" id="Combined-Shape" fill="#767D84"></path>
        </g>
    </g>
</svg>