#ALL
* @vikramdevtron @kripanshdevtron @nishant-d @pghildiyal

#DOCS
docs/ @ashokdevtron @uxarya-d @prakarsh-d  @nishant-d

#Charts
charts/devtron/ @prakarsh-d @pawan-mehta-dt @nishant-d

#Github Specific
.github/ @prakarsh-d @nishant-d

#Reference helm charts

script/devtron-reference-helm-charts/ @prakarsh-d @pawan-mehta-dt