installer:
  release: "v0.6.9-rc.0"
  image: "quay.io/devtron/inception"
  tag: "1d2b87e5-185-11095"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:84390bed-325-11879"
  devtron:
    image: "quay.io/devtron/hyperion:a4027718-280-11873"
    cicdImage: "quay.io/devtron/devtron:a4027718-326-11874"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:4f57f862-393-11876"
  kubelink:
    image: "quay.io/devtron/kubelink:1d2cc28a-318-11533"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
  
  migrator:
    image: "quay.io/devtron/migrator:71748de9-149-11112"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "a402771810012681c6fcde4288f8eea1684ab8c7"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "a402771810012681c6fcde4288f8eea1684ab8c7"
        
argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: "v2.4.0"
      imagePullPolicy: IfNotPresent
      
notifier:
  image: "quay.io/devtron/notifier:6c7a356a-372-11107"
