global:
  podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsUser: 1000
    runAsNonRoot: true

installer:
  release: "v0.6.28-rc.0"
  image: "quay.io/devtron/inception"
  tag: "a9820f38-185-20840"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:796b9e98-325-20868"
    config:
      extraConfigs:
        USE_V2: "true"
        ENABLE_BUILD_CONTEXT: "true"
        ENABLE_RESTART_WORKLOAD: "true"
        HIDE_EXCLUDE_INCLUDE_GIT_COMMITS: "false"
        ENABLE_SCOPED_VARIABLES: "true"
        ENABLE_CI_JOB: "true"
        GLOBAL_API_TIMEOUT: "60000"
        TRIGGER_API_TIMEOUT: "60000"
  devtron:
    image: "quay.io/devtron/hyperion:30618a27-280-20891"
    cicdImage: "quay.io/devtron/devtron:30618a27-434-20892"
    customOverrides:
      DEFAULT_CI_IMAGE: "quay.io/devtron/ci-runner:d4dadb96-138-20830"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:e414faff-393-13273"
  kubelink:
    image: "quay.io/devtron/kubelink:b3a017d2-564-20648"
    configs:
      ENABLE_HELM_RELEASE_CACHE: "true"
      MANIFEST_FETCH_BATCH_SIZE: "2"
      NATS_MSG_PROCESSING_BATCH_SIZE: "1"
      NATS_SERVER_HOST: nats://devtron-nats.devtroncd:4222
      PG_ADDR: postgresql-postgresql.devtroncd
      PG_DATABASE: orchestrator
      PG_LOG_QUERY: "true"
      PG_PORT: "5432"
      PG_USER: postgres
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
  gitsensor:
    image: "quay.io/devtron/git-sensor:7f704db3-200-20777"
    imagePullPolicy: "IfNotPresent"
    serviceMonitor:
      enabled: false
    persistence:
      volumeSize: 2Gi
    configs:
      PG_ADDR: postgresql-postgresql.devtroncd
      PG_USER: postgres
      COMMIT_STATS_TIMEOUT_IN_SEC: "2"
      ENABLE_FILE_STATS: "true"
      USE_GIT_CLI: "false"
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
  lens: 
    image: "quay.io/devtron/lens:98130668-333-20295"
    imagePullPolicy: IfNotPresent
    configs:
      GIT_SENSOR_PROTOCOL: GRPC
      GIT_SENSOR_URL: git-sensor-service.devtroncd:90
      NATS_SERVER_HOST: nats://devtron-nats.devtroncd:4222
      PG_ADDR: postgresql-postgresql.devtroncd
      PG_PORT: "5432"
      PG_USER: postgres
      PG_DATABASE: lens
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
  nats:
    image: nats:2.9.3-alpine
    imagePullPolicy: IfNotPresent
    reloader:
      image: quay.io/devtron/nats-server-config-reloader:0.6.2
      imagePullPolicy: IfNotPresent
    metrics:
      image: quay.io/devtron/prometheus-nats-exporter:0.9.0
      imagePullPolicy: IfNotPresent
    serviceMonitor:
      enabled: false
    persistence:
      storage: 5Gi
  migrator:
    image: "quay.io/devtron/migrator:v4.16.2"
    envVars:
      devtron:
        DB_NAME: "orchestrator"
      casbin:
        DB_NAME: "casbin"
      gitsensor:
        DB_NAME: "git_sensor"
      lens: 
        DB_NAME: "lens"
        
argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: "v2.5.2"
      imagePullPolicy: IfNotPresent
      
workflowController:
  image: "quay.io/argoproj/workflow-controller:v3.4.3"
  executorImage: "quay.io/argoproj/argoexec:v3.4.3"

security:
  imageScanner:
    image: "quay.io/devtron/image-scanner:28f95d21-334-20763"

notifier:
  image: "quay.io/devtron/notifier:e4ffc71a-372-20776"
