global:
  podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsUser: 1000
    runAsNonRoot: true
  containerRegistry: "quay.io/devtron"
  dbConfig:
    PG_ADDR: postgresql-postgresql.devtroncd
    PG_PORT: "5432"
    PG_USER: postgres
    PG_DATABASE: orchestrator
extraManifests: []
installer:
  release: "v1.8.0"
  registry: ""
  image: "inception"
  tag: "473deaa4-185-21582"
components:
  dashboard:
    config:
      extraConfigs:
        USE_V2: "true"
        ENABLE_BUILD_CONTEXT: "true"
        ENABLE_RESTART_WORKLOAD: "true"
        HIDE_EXCLUDE_INCLUDE_GIT_COMMITS: "false"
        ENABLE_SCOPED_VARIABLES: "true"
        ENABLE_CI_JOB: "true"
        GLOBAL_API_TIMEOUT: "60000"
        TRIGGER_API_TIMEOUT: "60000"
        ENABLE_EXTERNAL_ARGO_CD: "true"
        SERVICE_WORKER_TIMEOUT: "1"
        API_BATCH_SIZE: "30"
        FEATURE_EXTERNAL_FLUX_CD_ENABLE: "true"
        FEATURE_STEP_WISE_LOGS_ENABLE: "true"
        FEATURE_USER_DEFINED_GITOPS_REPO_ENABLE: "true"
        ENABLE_RESOURCE_SCAN: "true"
        FEATURE_CODE_MIRROR_ENABLE: "true"
        FEATURE_GROUPED_APP_LIST_FILTERS_ENABLE: "true"
    registry: ""
    image: "dashboard:5196e935-690-36024"
    imagePullPolicy: IfNotPresent
    healthPort: 8080
  devtron:
    registry: ""
    image: "hyperion:1ae65fbb-280-36074"
    cicdImage: "devtron:1ae65fbb-434-36069"
    imagePullPolicy: IfNotPresent
    customOverrides: {}
    podSecurityContext:
      fsGroup: 1001
      runAsGroup: 1001
      runAsUser: 1001
    containerSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1001
    healthPort: 8080
  ciRunner:
    registry: ""
    image: "ci-runner:880420ac-138-36030"
  argocdDexServer:
    registry: ""
    image: "dex:v2.30.2"
    imagePullPolicy: IfNotPresent
    initContainer:
      authenticator: "authenticator:e414faff-393-13273"
  kubelink:
    registry: ""
    image: "kubelink:880420ac-564-36036"
    imagePullPolicy: IfNotPresent
    configs:
      ENABLE_HELM_RELEASE_CACHE: "true"
      USE_CUSTOM_HTTP_TRANSPORT: "true"
      MANIFEST_FETCH_BATCH_SIZE: "2"
      NATS_MSG_PROCESSING_BATCH_SIZE: "1"
      NATS_SERVER_HOST: nats://devtron-nats.devtroncd:4222
      PG_LOG_QUERY: "true"
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
    podSecurityContext:
      fsGroup: 1001
      runAsGroup: 1001
      runAsUser: 1001
    containerSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1001
    healthPort: 50052
  kubewatch:
    registry: ""
    image: "kubewatch:880420ac-419-36026"
    imagePullPolicy: IfNotPresent
    healthPort: 8080
    configs:
      devtroncd_NAMESPACE: "devtron-ci"
      USE_CUSTOM_HTTP_TRANSPORT: "true"
      CI_INFORMER: "true"
      ACD_NAMESPACE: "devtroncd"
      ACD_INFORMER: "true"
      NATS_STREAM_MAX_AGE: "10800"
      PG_LOG_QUERY: "true"
      CLUSTER_ARGO_CD_TYPE: "ALL_CLUSTER"
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
  postgres:
    registry: ""
    image: "postgres:14.9"
    initImage: "minideb:latest"
    imagePullPolicy: "IfNotPresent"
    metrics:
      image: postgres_exporter:v0.10.1
  gitsensor:
    registry: ""
    image: "git-sensor:880420ac-200-36032"
    imagePullPolicy: IfNotPresent
    serviceMonitor:
      enabled: false
    persistence:
      volumeSize: 2Gi
    configs:
      PG_DATABASE: git_sensor
      COMMIT_STATS_TIMEOUT_IN_SEC: "2"
      ENABLE_FILE_STATS: "true"
      USE_GIT_CLI: "true"
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
    healthPort: 8080
  # Values for lens
  lens:
    registry: ""
    image: "lens:880420ac-333-36029"
    imagePullPolicy: IfNotPresent
    configs:
      GIT_SENSOR_PROTOCOL: GRPC
      GIT_SENSOR_URL: git-sensor-service.devtroncd:90
      NATS_SERVER_HOST: nats://devtron-nats.devtroncd:4222
      PG_DATABASE: lens
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
    healthPort: 8080
  # Change below values for nats
  nats:
    registry: ""
    image: nats:2.9.3-alpine
    reloader:
      image: nats-server-config-reloader:0.6.2
      imagePullPolicy: IfNotPresent
    metrics:
      image: prometheus-nats-exporter:0.9.0
      imagePullPolicy: IfNotPresent
    natsBox:
      image: nats-box
    serviceMonitor:
      enabled: false
    persistence:
      storage: 5Gi
  migrator:
    registry: ""
    image: "migrator:v4.16.2"
    kubectlImage: "kubectl:latest"
    duplicateChartImage: devtron-utils:dup-chart-repo-v1.1.0
    entMigratorImage: "devtron-utils:geni-v1.1.4"
  chartSync:
    registry: ""
    image: chart-sync:880420ac-836-36037
    schedule: "0 19 * * *"
    podSecurityContext:
      fsGroup: 1001
      runAsGroup: 1001
      runAsUser: 1001
    containerSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1001
# values for argocd integration
argo-cd:
  global:
    image:
      # -- If defined, a repository applied to all Argo CD deployments
      repository: quay.io/argoproj/argocd
      # -- Overrides the global Argo CD image tag whose default is the chart appVersion
      tag: "v2.13.3"
      # -- If defined, a imagePullPolicy applied to all Argo CD deployments
      imagePullPolicy: IfNotPresent
  configs:
    cm:
      create: false
    # argocd-rbac-cm
    rbac:
      create: true
      policy.default: role:admin
  applicationSet:
    replicas: 0
# Change below values for workflow controller
workflowController:
  registry: "quay.io/argoproj"
  image: "workflow-controller:v3.4.3"
  executorImage: "argoexec:v3.4.3"
  IMDSv1Image: "workflow-controller:v3.0.7"
  IMDSv1ExecutorImage: "argoexec:v3.0.7"
security:
  imageScanner:
    image: "image-scanner:f21e02cb-141-34534"
    healthPort: 8080
    configs:
      TRIVY_DB_REPOSITORY: mirror.gcr.io/aquasec/trivy-db
      TRIVY_JAVA_DB_REPOSITORY: mirror.gcr.io/aquasec/trivy-java-db
  clair:
    image:
      repository: clair
      tag: 4.3.6
# Values for notifier integration
notifier:
  image: "notifier:00f17215-372-36041"
  healthPort: 3000
minio:
  image: "minio:RELEASE.2021-02-14T04-01-33Z"
  mbImage: "minio-mc:RELEASE.2021-02-14T04-28-06Z"
  gatewayImage: "minio:RELEASE.2020-12-03T05-49-24Z"
# Values for grafana integration
monitoring:
  grafana:
    registry: ""
    image: "grafana:7.3.1"
    busyboxImage: "busybox:1.31.1"
    batsImage: "bats:v1.4.1"
    imagePullPolicy: IfNotPresent
    grafanaOrgJob:
      curlImage: k8s-utils:tutum-curl
    grafanaDashboards:
      image: "k8s-sidecar:1.1.0"
      curlImage: "curl:7.73.0"
      imagePullPolicy: IfNotPresent
devtronEnterprise:
  enabled: false
  casbin:
    registry: ""
    image: "casbin:f6ff5f74-064b67e5-462-30822"
    imagePullPolicy: IfNotPresent
    configs:
      PG_DATABASE: casbin
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password
    resources: {}
    podSecurityContext:
      fsGroup: 1001
      runAsGroup: 1001
      runAsUser: 1001
    containerSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      runAsUser: 1001
    healthPort: 8080
  scoop:
    enabled: false
    registry: ""
    image: "scoop:289d080a-629-30405"
    imagePullPolicy: IfNotPresent
    resources: {}
    configs:
      CLUSTER_ID: "1"
      ORCHESTRATOR_URL: http://devtron-service.devtroncd.svc.cluster.local/orchestrator
