installer:
  release: "v0.4.14"
  image: "quay.io/devtron/inception"
  tag: "acb623ff-185-7117"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:3464813c-240-9228"
  devtron:
    image: "quay.io/devtron/hyperion:dd291d12-280-9229"
    cicdImage: "quay.io/devtron/devtron:dd291d12-324-9227"
  argocdDexServer:
    image: "quay.io/dexidp/dex:v2.25.0"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:415f5470-279-6520"
      cicdAuthenticator: "quay.io/argoproj/argocd:v1.8.1"
  kubelink:
    image: "quay.io/devtron/kubelink:59a0df88-318-9226"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
  
  migrator:
    image: "quay.io/devtron/migrator:6687f572-133-2208"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "dd291d124547607de88dd6b62413070de568b882"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "dd291d124547607de88dd6b62413070de568b882"
