installer:
  release: "v0.6.0"
  image: "quay.io/devtron/inception"
  tag: "c62d4c30-185-9354"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:9c21414c-325-10743"
  devtron:
    image: "quay.io/devtron/hyperion:299b90b9-280-10744"
    cicdImage: "quay.io/devtron/devtron:299b90b9-326-10742"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:aecda793-381-10540"
  kubelink:
    image: "quay.io/devtron/kubelink:919924e0-318-10747"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
  
  migrator:
    image: "quay.io/devtron/migrator:cb494756-390-10883"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "0499da447c5ade0d8b607efe03a7326aaaa3fd85"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "0499da447c5ade0d8b607efe03a7326aaaa3fd85"
