installer:
  release: "v0.6.11-rc.0"
  image: "quay.io/devtron/inception"
  tag: "1d2b87e5-185-11095"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:37338139-325-12306"
  devtron:
    image: "quay.io/devtron/hyperion:851c54bf-280-12304"
    cicdImage: "quay.io/devtron/devtron:851c54bf-326-12302"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:6e466830-393-11943"
  kubelink:
    image: "quay.io/devtron/kubelink:7f9303ae-318-12204"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
  
  migrator:
    image: "quay.io/devtron/migrator:71748de9-149-11112"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "851c54bf2770719f5eae33a7c6a1a4854180065a"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "851c54bf2770719f5eae33a7c6a1a4854180065a"
        
argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: "v2.5.2"
      imagePullPolicy: IfNotPresent

workflowController:
  image: "quay.io/argoproj/workflow-controller:v3.4.3"
  executorImage: "quay.io/argoproj/argoexec:v3.4.3"

notifier:
  image: "quay.io/devtron/notifier:6c7a356a-372-11107"
