installer:
  release: "v0.4.2"
  image: "quay.io/devtron/inception"
  tag: "acb623ff-185-7117"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:89b1a1ab-240-8587"
  devtron:
    image: "quay.io/devtron/hyperion:11d3bc2c-282-8589"
  argocdDexServer:
    image: "quay.io/dexidp/dex:v2.25.0"
  kubelink:
    image: "quay.io/devtron/kubelink:1be465ec-318-7966"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
  
  migrator:
    image: "quay.io/devtron/migrator:6687f572-133-2208"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "11d3bc2c2e215b73dab11a5f35f63d3c49ab0964"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "11d3bc2c2e215b73dab11a5f35f63d3c49ab0964"
