installer:
  release: "v0.6.10-rc.1"
  image: "quay.io/devtron/inception"
  tag: "1d2b87e5-185-11095"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:090c3dde-325-12132"
  devtron:
    image: "quay.io/devtron/hyperion:58dc922f-280-12136"
    cicdImage: "quay.io/devtron/devtron:58dc922f-326-12134"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:6e466830-393-11943"
  kubelink:
    image: "quay.io/devtron/kubelink:2ae4e7a7-318-11969"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
  
  migrator:
    image: "quay.io/devtron/migrator:71748de9-149-11112"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "58dc922fa85f851f265e342768c9c6ca800cbf58"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "58dc922fa85f851f265e342768c9c6ca800cbf58"
        
argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: "v2.5.2"
      imagePullPolicy: IfNotPresent

workflowController:
  image: "quay.io/argoproj/workflow-controller:v3.4.3"
  executorImage: "quay.io/argoproj/argoexec:v3.4.3"

notifier:
  image: "quay.io/devtron/notifier:6c7a356a-372-11107"
