installer:
  release: "v0.4.17"
  image: "quay.io/devtron/inception"
  tag: "c62d4c30-185-9354"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:0afcdb69-325-9400"
  devtron:
    image: "quay.io/devtron/hyperion:e0d33eda-280-9381"
    cicdImage: "quay.io/devtron/devtron:e0d33eda-326-9380"
  argocdDexServer:
    image: "quay.io/dexidp/dex:v2.25.0"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:415f5470-279-6520"
      cicdAuthenticator: "quay.io/argoproj/argocd:v1.8.1"
  kubelink:
    image: "quay.io/devtron/kubelink:59a0df88-318-9226"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
  
  migrator:
    image: "quay.io/devtron/migrator:6687f572-133-2208"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "e0d33eda8ba645d8170bb6fca2a9ab4b820b63c9"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "e0d33eda8ba645d8170bb6fca2a9ab4b820b63c9"
