installer:
  release: "v0.6.8"
  image: "quay.io/devtron/inception"
  tag: "1d2b87e5-185-11095"
  
components:
  dashboard:
    image: "quay.io/devtron/dashboard:a46fa494-325-11818"
  devtron:
    image: "quay.io/devtron/hyperion:fea07d2c-280-11823"
    cicdImage: "quay.io/devtron/devtron:fea07d2c-326-11821"
  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    initContainer:
      authenticator: "quay.io/devtron/authenticator:461b5cb7-381-11808"
  kubelink:
    image: "quay.io/devtron/kubelink:1d2cc28a-318-11533"
  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
  
  migrator:
    image: "quay.io/devtron/migrator:71748de9-149-11112"
    envVars:
      devtron:
        GIT_BRANCH: "main"
        GIT_HASH: "fea07d2c32f617067e89085ef4be0157bf268ccd"
      casbin:
        GIT_BRANCH: "main"
        GIT_HASH: "fea07d2c32f617067e89085ef4be0157bf268ccd"
        
argo-cd:
  global:
    image:
      repository: quay.io/argoproj/argocd
      tag: "v2.4.0"
      imagePullPolicy: IfNotPresent
      
notifier:
  image: "quay.io/devtron/notifier:6c7a356a-372-11107"
