global:
  podSecurityContext:
    fsGroup: 1000
    runAsGroup: 1000
    runAsUser: 1000
  containerSecurityContext:
    allowPrivilegeEscalation: false
    runAsUser: 1000
    runAsNonRoot: true
installer:
  repo: "devtron-labs/devtron"
#  For Kubernetes version < 1.16, set release: legacy. You won't be able to upgrade Devtron unless you upgrade the K8s version to 1.16 or above.
  release: "v0.6.22" #You can use a branch name or a release tag name as a release, for gitee as source only "main" is supported as of now
  image: quay.io/devtron/inception
  tag: 44b30917-185-13275
  source: "github" # Available options are github and gitee
#  mode: "dashboard" # Available options are dashboard, full and hyperion (deprecated) NOT USING THIS
  modules: [] # Available options are cicd
  production_overrides: "" # Set true if you want to use this Devtron stack in Production (This will require more resources)

# Change the below values for full mode only

#Use secrets in plaintext, they'll be encoded to base64 automatically.
secrets: {}

#  REQUIRED IF BLOB_STORAGE_PROVIDER=AZURE Token with read write access to AZURE_BLOB_CONTAINER_CI_LOG and AZURE_BLOB_CONTAINER_CI_CACHE
#  AZURE_ACCOUNT_KEY: "xxxxxxxxxx"
configs:
  BLOB_STORAGE_PROVIDER: ""   #AZURE|S3|MINIO|GCP
  ENABLE_LEGACY_API: "false"  # Set to true if you are installing Devtron on a kubernetes version < k8s 1.19
# Amazon AWS S3 bucket and region for storing Build-cache for faster build process. Mandatory if BLOB_STORAGE_PROVIDER is AWS.
  #DEFAULT_CACHE_BUCKET: "change-me"   #Do not include s3://
  #DEFAULT_CACHE_BUCKET_REGION: "us-east-1"
# Amazon AWS S3 bucket and region for storing Build-logs. Mandatory if BLOB_STORAGE_PROVIDER is AWS.
  #DEFAULT_BUILD_LOGS_BUCKET: "change-me"   #Do not include s3://
  #DEFAULT_CD_LOGS_BUCKET_REGION: "us-east-1"
# Amazon AWS Secret Region if you will be using AWS Secret manager for storing secrets.
  #EXTERNAL_SECRET_AMAZON_REGION: ""
# Azure Blob storage Info for storing Build Logs and Build cache for faster build process.
  #AZURE_ACCOUNT_NAME: "test-account"
  #AZURE_BLOB_CONTAINER_CI_LOG: "ci-log-container"
  #AZURE_BLOB_CONTAINER_CI_CACHE: "ci-cache-container"

# Change the below values for hyperion only mode (Refer https://docs.devtron.ai/#hyperion )
components:
  dashboard:
    config:
      analytics: "false"
      hotjar: "false"
      sentry: "false"
      sentryEnv: "PRODUCTION"
      applicationMetrics: "true"
      extraConfigs:
        USE_V2: "true"
        ENABLE_BUILD_CONTEXT: "true"
        ENABLE_RESTART_WORKLOAD: "true"
        HIDE_EXCLUDE_INCLUDE_GIT_COMMITS: "false"
    image: "quay.io/devtron/dashboard:c647ef46-325-16736"
    imagePullPolicy: IfNotPresent

  devtron:
    image: "quay.io/devtron/hyperion:a16f49b4-280-16783"
    cicdImage: "quay.io/devtron/devtron:a16f49b4-434-16786"
    imagePullPolicy: IfNotPresent
    customOverrides:
      DEFAULT_CI_IMAGE: "quay.io/devtron/ci-runner:81e3488a-138-16612"
    serviceMonitor:
      enabled: false
    service:
      type: LoadBalancer
      port: 80
      # nodePort: 32080
      labels: {}
      annotations: {}
      loadBalancerSourceRanges: []
    ingress:
      enabled: false
      className: nginx
      labels: {}
      annotations: {}
        # kubernetes.io/tls-acme: "true"
      pathType: ImplementationSpecific
      host: devtron.example.com
      tls: []
      #  - secretName: devtron-tls
      #    hosts:
      #      - devtron.example.com

  argocdDexServer:
    image: "ghcr.io/dexidp/dex:v2.30.2"
    imagePullPolicy: IfNotPresent
    initContainer:
      authenticator: "quay.io/devtron/authenticator:e414faff-393-13273"

  kubelink:
    image: "quay.io/devtron/kubelink:f315d6ee-318-16750"
    imagePullPolicy: IfNotPresent
    configs:
      ENABLE_HELM_RELEASE_CACHE: "true"
      PG_ADDR: postgresql-postgresql.devtroncd
      PG_DATABASE: orchestrator
      PG_LOG_QUERY: "true"
      PG_PORT: "5432"
      PG_USER: postgres
    dbconfig:
      secretName: postgresql-postgresql
      keyName: postgresql-password

  postgres:
    image: "quay.io/devtron/postgres:11.9.0-debian-10-r26"
    armImage: "quay.io/devtron/postgres:11.9"
    imagePullPolicy: "IfNotPresent"
    persistence:
      volumeSize: "20Gi"
  gitsensor:
    image: "quay.io/devtron/git-sensor:b6c3ea0e-200-16327"
  migrator:
    image: "quay.io/devtron/migrator:v4.16.2"
    envVars:
      devtron:
        DB_NAME: "orchestrator"
      casbin:
        DB_NAME: "casbin"
      gitsensor:
        DB_NAME: "git_sensor"
      lens: 
        DB_NAME: "lens"

# values for argocd integration
argo-cd:
  enabled: false
  fullnameOverride: "argocd"
  global:
    image:
      # -- If defined, a repository applied to all Argo CD deployments
      repository: quay.io/argoproj/argocd
      # -- Overrides the global Argo CD image tag whose default is the chart appVersion
      tag: "v2.5.2"
      # -- If defined, a imagePullPolicy applied to all Argo CD deployments
      imagePullPolicy: IfNotPresent
  configs:
    secret:
      createSecret: false
  # argocd-application-controller
  controller:
    args:
      # -- define the application controller `--status-processors`
      statusProcessors: "50"
      # -- define the application controller `--operation-processors`
      operationProcessors: "25"
      # -- define the application controller `--app-hard-resync`
      appHardResyncPeriod: "0"
      # -- define the application controller `--app-resync`
      appResyncPeriod: "180"
      # -- define the application controller `--self-heal-timeout-seconds`
      selfHealTimeout: "5"
      # -- define the application controller `--repo-server-timeout-seconds`
      repoServerTimeoutSeconds: "200"
    extraArgs:
    - --kubectl-parallelism-limit
    - "35"
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - all
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    env:
    - name: ARGOCD_RECONCILIATION_TIMEOUT
      valueFrom:
        configMapKeyRef:
          key: timeout.reconciliation
          name: argocd-cm
          optional: true
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: argocd-application-controller
            topologyKey: kubernetes.io/hostname
          weight: 100
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/part-of: argocd
            topologyKey: kubernetes.io/hostname
          weight: 5
  # argocd-dex-server
  dex:
    enabled: false
  # argocd-redis
  redis:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: argocd-redis
            topologyKey: kubernetes.io/hostname
          weight: 100
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/part-of: argocd
            topologyKey: kubernetes.io/hostname
          weight: 5
  # argocd-server
  server:
    configEnabled: false
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: argocd-server
            topologyKey: kubernetes.io/hostname
          weight: 100
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/part-of: argocd
            topologyKey: kubernetes.io/hostname
          weight: 5
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - all
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    # argocd-rbac-cm
    rbacConfig:
      policy.default: role:admin
  # argocd-repo-server
  repoServer:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/name: argocd-repo-server
            topologyKey: kubernetes.io/hostname
          weight: 100
        - podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/part-of: argocd
            topologyKey: kubernetes.io/hostname
          weight: 5
    extraArgs:
    - --repo-cache-expiration
    - 24h
    - --parallelismlimit
    - "50"
    env:
    - name: ARGOCD_RECONCILIATION_TIMEOUT
      valueFrom:
        configMapKeyRef:
          key: timeout.reconciliation
          name: argocd-cm
          optional: true
    - name: ARGOCD_EXEC_TIMEOUT
      value: 180s
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - all
      readOnlyRootFilesystem: true
      runAsNonRoot: true
  applicationSet:
    enabled: false
  notifications:
    enabled: false
# Values for security integration
security:
  enabled: false
  imageScanner:
    image: "quay.io/devtron/image-scanner:ea03b0af-334-15158"
  # Values for trivy
  trivy:
    enabled: false
  # Values for clair
  clair:
    enabled: false
    fullnameOverride: clair
# Values for notifier integration
notifier:
  enabled: false
  imagePullPolicy: IfNotPresent
  image: "quay.io/devtron/notifier:d9c72180-372-14306"
  configs:
    CD_ENVIRONMENT: PROD
    DB: orchestrator
    DB_HOST: postgresql-postgresql.devtroncd
    DB_PORT: "5432"
    DB_USER: postgres
  secrets: {}
  dbconfig:
    secretName: postgresql-postgresql
    keyName: postgresql-password
  resources: {}
# Set enable to true if you want to use minio for storing cache and logs
minio:
  enabled: false
  replicaCount: 1
  image: "quay.io/devtron/minio:RELEASE.2021-02-14T04-01-33Z"
  imagePullPolicy: IfNotPresent
  mbImage: "quay.io/devtron/minio-mc:RELEASE.2021-02-14T04-28-06Z"
  mbImagePullPolicy: IfNotPresent
  persistence:
    storage: "50Gi"
# Change below values for workflow controller
workflowController:
  image: "quay.io/argoproj/workflow-controller:v3.0.7"
  executorImage: "quay.io/argoproj/argoexec:v3.0.7"

lens: 
  image: "quay.io/devtron/lens:8803028b-333-16178"
# Values for grafana integration
monitoring:
  grafana:
    enabled: false
    image: "quay.io/devtron/grafana:7.3.1"
    imagePullPolicy: IfNotPresent
    resources: {}
    grafanaDashboards:
      image: "quay.io/kiwigrid/k8s-sidecar:1.1.0"
      imagePullPolicy: IfNotPresent
      resources: {}
    persistence:
      storage: "2Gi"
