[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
argparse = "*"
python-dateutil = "*"
kafka-python = "*"
pandas = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"
