{{- if $.Release.IsInstall }}
{{- if .Capabilities.APIVersions.Has "batch/v1/Job" }}
apiVersion: batch/v1
{{- else -}}
apiVersion: batch/v1beta1
{{- end }}
kind: Job
metadata:
  name: app-sync-job-{{ randAlphaNum 5 | lower }}
spec:
  template:
    spec:
      serviceAccountName: devtron
      {{- include "common.schedulerConfig" (dict "nodeSelector" $.Values.components.chartSync.nodeSelector "tolerations" $.Values.components.chartSync.tolerations "imagePullSecrets" $.Values.components.chartSync.imagePullSecrets "global" $.Values.global) | indent 6 }}
      initContainers:
      - name: migration-wait
        image: {{ include "common.image" (dict "component" $.Values.components.migrator "global" $.Values.global "extraImage" $.Values.components.migrator.kubectlImage ) }}
        command: ['sh', '-c', 'while [ ! $(kubectl -n devtroncd get $(kubectl -n devtroncd get job -l job=postgresql-migrate-devtron -o name) -o jsonpath="{.status.succeeded}")  ]; do sleep 10; done']
        {{- if .Values.components.migrator }}
        {{- if .Values.components.migrator.appSync }}
        {{- if .Values.components.migrator.appSync.initContainer }}
        {{- if .Values.components.migrator.appSync.initContainer.resources }}
        resources:
        {{- toYaml .Values.components.migrator.appSync.initContainer.resources | nindent 10 }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
      {{- if and $.Values.global $.Values.global.podSecurityContext }}
      securityContext:
{{- toYaml $.Values.global.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: chart-sync
        image: {{ include "common.image" (dict "component" $.Values.components.chartSync "global" $.Values.global ) }}
        {{- if and $.Values.global $.Values.global.containerSecurityContext }}
        securityContext:
{{- toYaml $.Values.global.containerSecurityContext | nindent 10 }}
        {{- end }}
        env:
        - name: PG_ADDR
          value: postgresql-postgresql.devtroncd
        - name: PG_DATABASE
          value: orchestrator
        - name: PG_USER
          value: postgres
        envFrom:
        - secretRef:
            name: devtron-secret
        - configMapRef:
            name: devtron-common-cm
        {{- if .Values.components.migrator }}
        {{- if .Values.components.migrator.appSync }}
        {{- if .Values.components.migrator.appSync.resources }}
        resources:
        {{- toYaml .Values.components.migrator.appSync.resources | nindent 14 }}
        {{- end }}
        {{- end }}
        {{- end }}
      restartPolicy: OnFailure
  backoffLimit: 4
---
{{- end }}
{{- if .Capabilities.APIVersions.Has "batch/v1/CronJob" }}
apiVersion: batch/v1
{{- else -}}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: app-sync-cronjob
  annotations:
    "helm.sh/resource-policy": keep
spec:
  schedule: {{ $.Values.components.chartSync.schedule | quote }}
  jobTemplate:
    spec:
      template:
        spec:
          activeDeadlineSeconds: 15000
          serviceAccountName: chart-sync
          {{- include "common.schedulerConfig" (dict "nodeSelector" $.Values.components.chartSync.nodeSelector "tolerations" $.Values.components.chartSync.tolerations "imagePullSecrets" $.Values.components.chartSync.imagePullSecrets "global" $.Values.global) | indent 10 }}
          {{- if and $.Values.global $.Values.global.podSecurityContext }}
          securityContext:
{{- toYaml $.Values.global.podSecurityContext | nindent 12 }}
          {{- end }}
          containers:
          - name: chart-sync
            image: {{ include "common.image" (dict "component" $.Values.components.chartSync "global" $.Values.global ) }}
            {{- if and $.Values.global $.Values.global.containerSecurityContext }}
            securityContext:
{{- toYaml $.Values.global.containerSecurityContext | nindent 14 }}
           {{- end }}
            env:
            - name: PG_ADDR
              value: postgresql-postgresql.devtroncd
            - name: PG_DATABASE
              value: orchestrator
            - name: PG_USER
              value: postgres
            envFrom:
            - secretRef:
                name: devtron-secret
            - configMapRef: 
                name: app-sync-cm
            - configMapRef:
                name: devtron-common-cm
            {{- if .Values.components.migrator }}
            {{- if .Values.components.migrator.appSync }}
            {{- if .Values.components.migrator.appSync.resources }}
            resources:
            {{- toYaml .Values.components.migrator.appSync.resources | nindent 14 }}
            {{- end }}
            {{- end }}
            {{- end }}
          restartPolicy: Never
      backoffLimit: 4
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-sync-cm
  labels:
    app: app-sync-cronjob
    release: devtron
data:
{{- if $.Values.components.chartSync.extraConfigs }}
{{ toYaml $.Values.components.chartSync.extraConfigs | indent 2 }}
{{- end }}
---