apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
  annotations:
    "helm.sh/resource-policy": keep
  name: argocd-secret
  namespace: devtroncd
type: Opaque
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  annotations:
    "helm.sh/resource-policy": keep
  name: argocd-cm
data:
  repositories: |-
    - name: devtron
      type: helm
      url: https://helm.devtron.ai
    - name: fluent
      type: helm
      url: https://fluent.github.io/helm-charts
    - name: nginx-ingress
      type: helm
      url: https://kubernetes.github.io/ingress-nginx
    - name: elastic
      type: helm
      url: https://helm.elastic.co
    - name: bitnami
      type: helm
      url: https://charts.bitnami.com/bitnami
    - name: prometheus-community
      type: helm
      url:  https://prometheus-community.github.io/helm-charts
    - name: jetstack
      type: helm
      url:  https://charts.jetstack.io
    - name: metrics-server
      type: helm
      url:  https://kubernetes-sigs.github.io/metrics-server
    - name: autoscaler
      type: helm
      url:  https://kubernetes.github.io/autoscaler