{{- if .Values.devtronEnterprise.finops.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cost-sync-job
  namespace: devtroncd
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      activeDeadlineSeconds: 3600
      template:
        metadata:
          labels:
            app: cost-sync-job
        spec:
          containers:
              envFrom:
                - configMapRef: 
                    name: cost-sync-cm
                - secretRef:
                    name: devtron-secret
              image: {{ .Values.devtronEnterprise.finops.costSync.image }}
              imagePullPolicy: IfNotPresent
              name: cost-sync-job
              ports:
                - containerPort: 8080
                  name: app
                  protocol: TCP
              resources: {}
          terminationGracePeriodSeconds: 30
  schedule: 10 * * * *
  startingDeadlineSeconds: 100
  successfulJobsHistoryLimit: 3
  suspend: false
  timeZone: UTC
---
apiVersion: v1
data:
  JOB_INTERVAL_MINUTES: "60"
  LOG_LEVEL: info
  MAX_INTERVALS_PER_RUN: "6"
  PG_ADDR: postgresql-postgresql.devtroncd
  PG_DATABASE: orchestrator
  PG_USER: postgres
  POSTGRES_HOST: postgresql-postgresql.devtroncd
  POSTGRES_NAME: orchestrator
  POSTGRES_PORT: "5432"
  POSTGRES_SSL_MODE: disable
  POSTGRES_USER: postgres
  PROMETHEUS_DELAY_MINUTES: "5"
  TIMESCALE_ADDR: timescaledb-cluster-pg15-rw.timescale-db
  TIMESCALE_DATABASE: finops
  TIMESCALE_HOST: timescaledb-cluster-pg15-rw.timescale-db
  TIMESCALE_NAME: finops
  TIMESCALE_PORT: "5432"
  TIMESCALE_SSL_MODE: disable
  TIMESCALE_USER: postgres
kind: ConfigMap
metadata:
  name: cost-sync-2802
  namespace: devtroncd
{{- end }}  