{{- if .Values.devtronEnterprise.finops.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cost-sync-job
  namespace: devtroncd
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      activeDeadlineSeconds: 3600
      template:
        metadata:
          labels:
            app: cost-sync-job
        spec:
          containers:
              envFrom:
                - configMapRef: 
                    name: cost-sync-cm
                - secretRef:
                    name: devtron-secret
              image: {{ .Values.devtronEnterprise.finops.costSync.image }}
              imagePullPolicy: IfNotPresent
              name: cost-sync-job
              ports:
                - containerPort: 8080
                  name: app
                  protocol: TCP
              resources: {}
          terminationGracePeriodSeconds: 30
  schedule: 10 * * * *
  startingDeadlineSeconds: 100
  successfulJobsHistoryLimit: 3
  suspend: false
  timeZone: UTC
{{- end }}  