{{- if .Values.devtronEnterprise.finops.enabled }}
{{- if $.Capabilities.APIVersions.Has "batch/v1/Job" }}
apiVersion: batch/v1
{{- else }}
apiVersion: batch/v1beta1
{{- end }}
kind: CronJob
metadata:
  name: cost-sync-job
  namespace: devtroncd
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      serviceAccountName: devtron-default-sa
      activeDeadlineSeconds: 3600
      template:
        metadata:
          labels:
            app: cost-sync-job
        spec:
          {{- include "common.schedulerConfig" (dict "nodeSelector" $.Values.devtronEnterprise.finops.nodeSelector "tolerations" $.Values.devtronEnterprise.finops.tolerations "imagePullSecrets" $.Values.devtronEnterprise.finops.imagePullSecrets "global" $.Values.global) | indent 4 }}
          {{- include "common.podSecurityContext" (dict "podSecurityContext" $.Values.devtronEnterprise.finops.podSecurityContext "global" $.Values.global) | indent 10 }}         
          restartPolicy: OnFailure
          containers:
            - envFrom:
                - configMapRef: 
                    name: devtron-common-cm
                - configMapRef: 
                    name: cost-sync-cm
                - secretRef:
                    name: devtron-secret
              image: {{ $.Values.devtronEnterprise.finops.costSync.image }}
              imagePullPolicy: IfNotPresent
              name: cost-sync-job
              ports:
                - containerPort: 8080
                  name: app
                  protocol: TCP
              resources: {}
          terminationGracePeriodSeconds: 30
  schedule: {{ $.Values.devtronEnterprise.finops.costSync.schedule | quote }}
  startingDeadlineSeconds: 100
  successfulJobsHistoryLimit: 3
  suspend: false
  timeZone: {{ $.Values.devtronEnterprise.finops.costSync.timeZone }}
{{- end }}