{{- with .Values.components.devtron }}
{{- $argocdEnabled :=  index $.Values "argo-cd" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "devtron-cm"
  labels:
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
data:
  PG_USER: postgres
  PG_ADDR: postgresql-postgresql.devtroncd
  PG_PORT: "5432"
  HELM_CLIENT_URL: kubelink-service:50051
  DASHBOARD_PORT: "80"
  DASHBOARD_HOST: dashboard-service.devtroncd
  PG_DATABASE: orchestrator
  DEX_HOST: http://argocd-dex-server.devtroncd
  DEX_PORT: "5556"
  APP_SYNC_IMAGE: {{ include "common.image" (dict "component" $.Values.components.chartSync "global" $.Values.global ) }}
  {{- if and $.Values.devtronEnterprise.enabled $.Values.devtronEnterprise.scoop.enabled }}
  SCOOP_CLUSTER_CONFIG: '{"1":{"serviceName":"scoop-service","passKey":"qhihdidhwid","namespace":"devtroncd","port":"80"}}'
  {{- end }}
  {{- if $.Values.devtronEnterprise.enabled }}
  CASBIN_CLIENT_URL: casbin-service.devtroncd:9000
  {{- end }}
{{- if $.Values.installer.modules }}
{{- if has "cicd" $.Values.installer.modules }}
  CD_HOST: "argocd-server.devtroncd"
  CD_PORT: "80" 
  CD_NAMESPACE: "devtroncd"
  EVENT_URL: "http://notifier-service.devtroncd:80/notify"
  GIT_SENSOR_PROTOCOL: GRPC
  GIT_SENSOR_URL: "git-sensor-service.devtroncd:90"
  GIT_SENSOR_TIMEOUT: "300"
  LENS_URL: "http://lens-service.devtroncd:80"
  LENS_TIMEOUT: "300"
  NATS_SERVER_HOST: "nats://devtron-nats.devtroncd:4222"
  APP: "orchestrator"
  PG_LOG_QUERY: "true"
  LOG_LEVEL: "0"
  GIT_WORKING_DIRECTORY: "/tmp/gitops/"
  ACD_URL: "argocd-server.devtroncd"
  ACD_USER: "admin"
  ACD_TIMEOUT: "300"
  ACD_SKIP_VERIFY: "true"
  MODE: "PROD" 
  CD_LIMIT_CI_CPU: "0.5"
  CD_LIMIT_CI_MEM: "3G"
  CD_REQ_CI_CPU: "0.5"
  CD_REQ_CI_MEM: "1G"
  CD_NODE_TAINTS_KEY: "dedicated"
  CD_NODE_LABEL_SELECTOR: "kubernetes.io/os=linux"
  CD_WORKFLOW_SERVICE_ACCOUNT: "cd-runner"
  DEFAULT_BUILD_LOGS_KEY_PREFIX: "devtron"
  DEFAULT_CD_ARTIFACT_KEY_LOCATION: "devtron/cd-artifacts"
  CD_NODE_TAINTS_VALUE: "ci"
  CD_ARTIFACT_LOCATION_FORMAT: "%d/%d.zip"
  DEFAULT_CD_NAMESPACE: "devtron-cd"
  DEFAULT_CI_IMAGE: {{ include "common.image" (dict "component" $.Values.components.ciRunner "global" $.Values.global ) }}
  DEFAULT_CD_TIMEOUT: "3600"
  WF_CONTROLLER_INSTANCE_ID: "devtron-runner"
  CI_LOGS_KEY_PREFIX: "ci-artifacts"
  DEFAULT_NAMESPACE: "devtron-ci"
  DEFAULT_TIMEOUT: "3600"
  LIMIT_CI_CPU: "0.5"
  LIMIT_CI_MEM: "3G"
  REQ_CI_CPU: "0.5"
  REQ_CI_MEM: "1G"
  CI_NODE_TAINTS_KEY: ""
  CI_NODE_TAINTS_VALUE: ""
  CI_NODE_LABEL_SELECTOR: ""
  CACHE_LIMIT: "5000000000"
  DEFAULT_ARTIFACT_KEY_LOCATION: "devtron/ci-artifacts"
  WORKFLOW_SERVICE_ACCOUNT: "ci-runner"
  EXTERNAL_CI_PAYLOAD: "{\"ciProjectDetails\":[{\"gitRepository\":\"https://github.com/vikram1601/getting-started-nodejs.git\",\"checkoutPath\":\"./abc\",\"commitHash\":\"239077135f8cdeeccb7857e2851348f558cb53d3\",\"commitTime\":\"2022-10-30T20:00:00\",\"branch\":\"master\",\"message\":\"Update README.md\",\"author\":\"User Name \"}],\"dockerImage\":\"445808685819.dkr.ecr.us-east-2.amazonaws.com/orch:23907713-2\"}"
  CI_ARTIFACT_LOCATION_FORMAT: "%d/%d.zip"
  IMAGE_SCANNER_ENDPOINT: "http://image-scanner-service.devtroncd:80"
  ECR_REPO_NAME_PREFIX: "devtron/"
  ACD_USERNAME: "admin"
  DEX_RURL: "http://argocd-dex-server.devtroncd:8080/callback"
  DEX_URL: "http://argocd-dex-server.devtroncd:5556/dex"
  CExpirationTime: "600"
  JwtExpirationTime: "120"
  ACD_CM: "argocd-cm"
  ACD_NAMESPACE: "devtroncd"
  MINIO_ENDPOINT: http://devtron-minio:9000
  GITOPS_REPO_PREFIX: "devtron"
  ENFORCER_CACHE: "true"
  ENFORCER_CACHE_EXPIRATION_IN_SEC: "345600"
  ENFORCER_MAX_BATCH_SIZE: "1"
  DEVTRON_SECRET_NAME: "devtron-secret"
  ENABLE_ASYNC_ARGO_CD_INSTALL_DEVTRON_CHART: "false"
  USE_ARTIFACT_LISTING_API_V2: "false"
  ASYNC_BUILDX_CACHE_EXPORT: "true"
  BUILDX_CACHE_MODE_MIN: "false"
  DEVTRON_CHART_ARGO_CD_INSTALL_REQUEST_TIMEOUT: "1"
  IN_APP_LOGGING_ENABLED: "true"
  PARALLELISM_LIMIT_FOR_TAG_PROCESSING: "2"
  SCAN_V2_ENABLED: "false"
  TIMEOUT_IN_SECONDS: "60"
  SHOW_DOCKER_BUILD_ARGS: "true"
  FORCE_SECURITY_SCANNING: "false"
  RUN_HELM_INSTALL_IN_ASYNC_MODE_HELM_APPS: "true"
  ENABLE_ASYNC_INSTALL_DEVTRON_CHART: "true"
  DEVTRON_CHART_INSTALL_REQUEST_TIMEOUT: "6"
  USE_IMAGE_TAG_FROM_GIT_PROVIDER_FOR_TAG_BASED_BUILD: "false"
  IMAGE_SCAN_MAX_RETRIES: "3"
  IMAGE_SCAN_RETRY_DELAY: "5"
  CONSUMER_CONFIG_JSON: '{"DEVTRON-CHART-INSTALL-DURABLE":{"natsMsgProcessingBatchSize":1}}'
  SKIP_GITOPS_VALIDATION: "false"
  SKIP_CREATING_ECR_REPO: "false"
  SCOPED_VARIABLE_ENABLED: "true"
  SCOPED_VARIABLE_HANDLE_PRIMITIVES: "true"
  MAX_CI_WORKFLOW_RETRIES: "0"
  MAX_CD_WORKFLOW_RUNNER_RETRIES: "0"
  ENABLE_BUILD_CONTEXT: "true"
  CI_SUCCESS_AUTO_TRIGGER_BATCH_SIZE: "1"
  FEATURE_RESTART_WORKLOAD_BATCH_SIZE: "1"
  FEATURE_RESTART_WORKLOAD_WORKER_POOL_SIZE: "5"
  USE_GIT_CLI: "false"
  PROPAGATE_EXTRA_LABELS: "false"
  USE_DEPLOYMENT_CONFIG_DATA: "false"
{{- if $.Values.configs }}
{{- if or ($.Values.minio.enabled) ($.Values.configs.BLOB_STORAGE_PROVIDER) }}
  BLOB_STORAGE_ENABLED: "true"
{{- end }}
{{ toYaml $.Values.configs | indent 2 }}
{{- if and ($.Values.minio.enabled) (not $.Values.configs.BLOB_STORAGE_PROVIDER) }}
  BLOB_STORAGE_PROVIDER: "S3"
  BLOB_STORAGE_S3_ENDPOINT: "http://devtron-minio.devtroncd:9000"
  BLOB_STORAGE_S3_ENDPOINT_INSECURE: "true"
  DEFAULT_BUILD_LOGS_BUCKET: "devtron-ci-log"
  DEFAULT_CACHE_BUCKET: "devtron-ci-cache"
{{- if lt ($.Values.minio.replicaCount | int) 4 }}
  BLOB_STORAGE_S3_BUCKET_VERSIONED: "false"
{{- else }}
  BLOB_STORAGE_S3_BUCKET_VERSIONED: "true"
{{- end }}
{{- end }}
{{- if or ($.Values.minio.enabled) (eq $.Values.configs.BLOB_STORAGE_PROVIDER "AZURE") }}
  DEFAULT_CACHE_BUCKET_REGION: "us-west-2"
  DEFAULT_CD_LOGS_BUCKET_REGION: "us-west-2"
{{- end }}
{{- if and (eq $.Values.configs.BLOB_STORAGE_PROVIDER "S3") (not $.Values.configs.BLOB_STORAGE_S3_ENDPOINT) }}
  BLOB_STORAGE_S3_ENDPOINT: ""
{{- end }}
{{- if $.Values.configs.BLOB_STORAGE_PROVIDER }}
  BLOB_STORAGE_S3_BUCKET_VERSIONED: "true"
{{- end }}
{{- if $.Values.monitoring }}
{{- if $.Values.monitoring.grafana }}
{{- if $.Values.monitoring.grafana.enabled }}
  GRAFANA_URL: "http://%s:%s@devtron-grafana.devtroncd/grafana"
  GRAFANA_HOST: "devtron-grafana.devtroncd"
  GRAFANA_PORT: "80"
  GRAFANA_NAMESPACE: "devtroncd"
  GRAFANA_ORG_ID: "2"
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devtron-custom-cm
  labels:
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
data:
{{- if .customOverrides }}
{{ toYaml .customOverrides | indent 2}}
{{- end }}
  {{- $modules := list }}
  {{- if has "cicd" $.Values.installer.modules }}
    {{- $modules = append $modules "cicd" }}
    {{- if $.Values.notifier.enabled }}
      {{- $modules = append $modules "notifier" }}
    {{- end }}
    {{- if and $.Values.security.enabled $.Values.security.trivy.enabled }}
      {{- $modules = append $modules "security.trivy" }}
    {{- end }}
    {{- if and $.Values.security.enabled $.Values.security.clair.enabled }}
      {{- $modules = append $modules "security.clair" }}
    {{- end }}
    {{- if $.Values.monitoring.grafana.enabled }}
      {{- $modules = append $modules "monitoring.grafana" }}
    {{- end }}
    {{- if ($argocdEnabled.enabled) }}
      {{- $modules = append $modules "argo-cd" }}
    {{- end }}
  {{- end }}
  INSTALLED_MODULES: {{ if $modules }}{{ printf "'%s'" (join "," $modules) }}{{ else }}""{{ end }}
  DEFAULT_CI_IMAGE: {{ include "common.image" (dict "component" $.Values.components.ciRunner "global" $.Values.global ) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devtron-cluster-components
  labels:
    release: devtron
data:
  rollout.yaml: >-
    rollout:
      resources:
        limits:
          cpu: 250m
          memory: 200Mi
        requests:
          cpu: 50m
          memory: 100Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devtron
  labels:
    app: devtron
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
spec:
  selector:
    matchLabels:
      app: devtron
      release: devtron
  replicas: 1
  minReadySeconds: 60
  template:
    metadata:
      labels:
        app: devtron
        release: devtron
    spec:
      {{- include "common.schedulerConfig" (dict "nodeSelector" $.Values.components.devtron.nodeSelector "tolerations" $.Values.components.devtron.tolerations "imagePullSecrets" $.Values.components.devtron.imagePullSecrets "global" $.Values.global) | indent 6 }}
      terminationGracePeriodSeconds: 30
      restartPolicy: Always
      serviceAccountName: devtron
      volumes:
        - configMap:
            name: devtron-cluster-components
          name: devtron-cluster-components-vol
      {{- if and $.Values.global $.Values.global.podSecurityContext }}
      securityContext:
{{- toYaml $.Values.global.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: devtron
          {{- if $.Values.installer.modules }}
          {{- if (has "cicd" $.Values.installer.modules) }}
          image: {{ include "common.image" (dict "component" $.Values.components.devtron "global" $.Values.global "extraImage" $.Values.components.devtron.cicdImage ) }}
          {{- else }}
          image: {{ include "common.image" (dict "component" $.Values.components.devtron "global" $.Values.global) }}
          {{- end }}
          {{- else }}
          image: {{ include "common.image" (dict "component" $.Values.components.devtron "global" $.Values.global) }}
          {{- end }}
          imagePullPolicy: {{ .imagePullPolicy }}
          {{- if and $.Values.global $.Values.global.containerSecurityContext }}
          securityContext:
{{- toYaml $.Values.global.containerSecurityContext | nindent 12 }}
          {{- end }}
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - ' curl -X POST -H "Content-Type: application/json" -d ''{"eventType":
                  "SIG_TERM"}'' localhost:8080/orchestrator/telemetry/summary'
          ports:
            - name: devtron
              containerPort: 8080
              protocol: TCP
          env:
            - name: DEVTRON_APP_NAME
              value: devtron
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          envFrom:
          - configMapRef:
              name: "devtron-cm"
          - secretRef:
              name: "devtron-secret"
          - configMapRef:
              name: "devtron-custom-cm"
          - secretRef:
              name: "devtron-custom-secret"
          volumeMounts:
            - mountPath: /cluster/component
              name: devtron-cluster-components-vol
          {{- if .resources }}   
          resources:
          {{- toYaml .resources | nindent 12 }}
          {{- end }}
  revisionHistoryLimit: 3
---
{{- if .serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devtron-sm
  labels:
    kind: Prometheus
    app: devtron
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
spec:
  endpoints:
    - port: devtron
      path: /metrics
      scheme: http
      interval: 30s
      scrapeTimeout: 3s
  selector:
    matchLabels:
      app: devtron
{{- end }}
{{- end }}
