{{- with .Values.components.devtron }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "devtron-cm"
  labels:
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
data:
  PG_USER: postgres
  PG_ADDR: postgresql-postgresql.devtroncd
  PG_PORT: "5432"
  HELM_CLIENT_URL: kubelink-service:50051
  DASHBOARD_PORT: "80"
  DASHBOARD_HOST: dashboard-service.devtroncd
  PG_DATABASE: orchestrator
  DEX_HOST: http://argocd-dex-server.devtroncd
  DEX_PORT: "5556"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devtron-custom-cm
  labels:
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
{{- if .customOverrides }}
data:
{{ toYaml .customOverrides | indent 2}}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: devtron
  labels:
    app: devtron
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
spec:
  selector:
    matchLabels:
      app: devtron
      release: devtron
  replicas: 1
  {{- if $.Release.IsUpgrade }}
  minReadySeconds: 700
  progressDeadlineSeconds: 800
  {{- else }}
  minReadySeconds: 60
  {{- end }}
  template:
    metadata:
      labels:
        app: devtron
        release: devtron
    spec:
      terminationGracePeriodSeconds: 30
      restartPolicy: Always
      serviceAccountName: devtron
      containers:
        - name: devtron
          {{- if $.Values.installer.modules }}
          {{ range $.Values.installer.modules }}
          {{- if and (eq . "cicd") ($.Release.IsUpgrade) }}
          image: {{ $.Values.components.devtron.cicdImage }}
          {{- else }}
          image: {{ $.Values.components.devtron.image }}
          {{- end }}
          {{- end }}
          {{- else }}
          image: {{ $.Values.components.devtron.image }}
          {{- end }}
          imagePullPolicy: {{ .imagePullPolicy }}
          lifecycle:
            preStop:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - ' curl -X POST -H "Content-Type: application/json" -d ''{"eventType":
                  "SIG_TERM"}'' localhost:8080/orchestrator/telemetry/summary'
          ports:
            - name: devtron
              containerPort: 8080
              protocol: TCP
          env:
            - name: DEVTRON_APP_NAME
              value: devtron
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          envFrom:
          - configMapRef:
              name: "devtron-cm"
          - secretRef:
              name: "devtron-secret"
          - configMapRef:
              name: "devtron-custom-cm"
  revisionHistoryLimit: 3
---
{{- if .serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devtron-sm
  labels:
    kind: Prometheus
    app: devtron
    release: devtron
  annotations:
    "helm.sh/resource-policy": keep
spec:
  endpoints:
    - port: devtron
      path: /metrics
      scheme: http
      interval: 30s
      scrapeTimeout: 3s
  selector:
    matchLabels:
      app: devtron
{{- end }}
{{- end }}
