{{- with .Values.components.migrator }}
{{- if $.Capabilities.APIVersions.Has "batch/v1/Job" -}}
---
apiVersion: batch/v1
{{- else -}}
---
apiVersion: batch/v1beta1
{{- end }}
kind: Job
metadata:
  name: postgresql-migrate-devtron-{{ randAlphaNum 5 | lower }}
  annotations: {}
  labels:
    job: postgresql-migrate-devtron
spec:
  template:
    spec:
      {{- if and $.Values.global $.Values.global.podSecurityContext }}
      securityContext:
{{- toYaml $.Values.global.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: postgresql-migrate-devtron
        image: {{ .image }}
        {{- if and $.Values.global $.Values.global.containerSecurityContext }}
        securityContext:
{{- toYaml $.Values.global.containerSecurityContext | nindent 10 }}
        {{- end }}
        env:
        - name: GIT_BRANCH
          value: {{ .envVars.devtron.GIT_BRANCH }}
        - name: SCRIPT_LOCATION
          value: {{ .envVars.devtron.SCRIPT_LOCATION }}
        - name: GIT_REPO_URL
          value: {{ .envVars.devtron.GIT_REPO_URL }}
        - name: DB_TYPE
          value: postgres
        - name: DB_USER_NAME
          value: postgres
        - name: DB_HOST
          value: postgresql-postgresql.devtroncd
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: {{ .envVars.devtron.DB_NAME }}
        - name: MIGRATE_TO_VERSION
          value: "0"
        - name: GIT_HASH
          value: {{ .envVars.devtron.GIT_HASH }}
        envFrom:
          - secretRef:
              name: postgresql-migrator
        {{- if .devtron }}
        {{- if .devtron.resources }}        
        resources:
        {{- toYaml .devtron.resources | nindent 10 }}
        {{- end }}
        {{- end }}           
      restartPolicy: OnFailure
  backoffLimit: 20
  activeDeadlineSeconds: 1500

{{- if $.Capabilities.APIVersions.Has "batch/v1/Job" -}}
---
apiVersion: batch/v1
{{- else -}}
---
apiVersion: batch/v1beta1
{{- end }}
kind: Job
metadata:
  name: postgresql-migrate-casbin-{{ randAlphaNum 5 | lower }}
  annotations: {}
spec:
  template:
    spec:
      serviceAccountName: devtron
      {{- if and $.Values.global $.Values.global.podSecurityContext }}
      securityContext:
{{- toYaml $.Values.global.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
      - name: devtron-rollout
        image: "quay.io/devtron/kubectl:latest"
        command: ['sh', '-c', 'kubectl rollout restart deployment/devtron -n devtroncd && kubectl rollout restart deployment/kubelink -n devtroncd']
        {{- if .casbin }}
        {{- if .casbin.resources }}        
        resources:
        {{- toYaml .casbin.resources | nindent 10 }}
        {{- end }}
        {{- end }} 
      initContainers:
      - name: postgresql-migrate-casbin
        image: {{ .image }}
        {{- if and $.Values.global $.Values.global.containerSecurityContext }}
        securityContext:
{{- toYaml $.Values.global.containerSecurityContext | nindent 10 }}
        {{- end }}
        env:
        - name: SCRIPT_LOCATION
          value: {{ .envVars.casbin.SCRIPT_LOCATION }}
        - name: GIT_REPO_URL
          value: {{ .envVars.casbin.GIT_REPO_URL }}
        - name: DB_TYPE
          value: postgres
        - name: DB_USER_NAME
          value: postgres
        - name: DB_HOST
          value: postgresql-postgresql.devtroncd
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: {{ .envVars.casbin.DB_NAME }}
        - name: MIGRATE_TO_VERSION
          value: "0"
        - name: GIT_HASH
          value: {{ .envVars.casbin.GIT_HASH }}
        - name: GIT_BRANCH
          value: {{ .envVars.casbin.GIT_BRANCH }}
        envFrom:
          - secretRef:
              name: postgresql-migrator
        {{- if .casbin }}
        {{- if .casbin.initContainer.resources }}        
        resources:
        {{- toYaml .casbin.initContainer.resources | nindent 10 }}
        {{- end }}
        {{- else }}
        resources:
          requests:
            cpu: 0.5
            memory: 500Mi
        {{- end }}                     
      restartPolicy: OnFailure
  backoffLimit: 20
  activeDeadlineSeconds: 1500
{{- end }}
