{{- if $.Values.installer.modules }}
{{- if has "cicd" $.Values.installer.modules }}
{{- with .Values.notifier }}
{{- if .enabled }}
# Source: notifier/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: notifier-secret
  labels:
    release: devtron
type: Opaque
{{- if .secrets }}
data:
{{- range $k, $v := .secrets }}
  {{ $k }}: {{ $v | b64enc }}
{{- end }}
{{- end }}
---
# Source: notifier/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: notifier-cm
  labels:
    release: devtron
data:
{{- if .configs}}
{{ toYaml .configs | indent 2 }}
{{- end }}
---
# Source: notifier/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: notifier-service
  labels:
    app: notifier
    chart: {{ $.Release.Name }}-{{ $.Chart.Version }}
    release: devtron
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: app
      protocol: TCP
      name: app
  selector:
    app: notifier
---
# Source: notifier/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifier
  labels:
    app: notifier
    chart: {{ $.Release.Name }}-{{ $.Chart.Version }}
    release: devtron
spec:
  selector:
    matchLabels:
      app: notifier
      release: devtron
  replicas: 1
  minReadySeconds: 60
  template:
    metadata:
      labels:
        app: notifier
        release: devtron
    spec:
      terminationGracePeriodSeconds: 30
      restartPolicy: Always
      containers:
        - name: notifier
          image: {{ .image }}
          imagePullPolicy: {{ .imagePullPolicy }}
          ports:
            - name: app
              containerPort: 3000
              protocol: TCP
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            {{- if .dbconfig }}
            - name: DB_PWD
              valueFrom:
                secretKeyRef:
                  name: {{ .dbconfig.secretName }}
                  key: {{ .dbconfig.keyName }}
            {{- end }}
          envFrom:
          - configMapRef:
              name: notifier-cm
          - secretRef:
              name: notifier-secret
          volumeMounts: []
      volumes: []
  revisionHistoryLimit: 3
{{- if .resources }}
          resources:
{{ toYaml .resources | indent 12 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}