{{- $serviceName := (include "clair.service" $) }}
{{- $dbName := (include "clair.db" $) }}
{{- with .Values.components.postgres }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-postgresql-init-scripts
  labels:
    app: postgresql
    chart: postgresql-8.6.4
    release: "devtron"
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"
    "helm.sh/resource-policy": keep
data:
  db_create.sql: |
{{- if not $.Values.global.externalDatabase }}
    create database casbin;
    create database git_sensor;
    create database lens;
{{- end }}
    create database clairv4
{{- if $.Values.global.externalDatabase }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-postgresql
spec:
  type: ExternalName
  externalName: {{ $.Values.global.externalDatabase.PG_ENDPOINT }}
{{- end }}
{{- if not $.Values.installer.arch }}
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-postgresql-metrics
  labels:
    app: postgresql
    chart: postgresql-8.6.4
    release: "devtron"
  annotations:
    prometheus.io/port: "9187"
    prometheus.io/scrape: "true"
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      port: 9187
      targetPort: http-metrics
  selector:
    app: postgresql
    release: devtron
    role: master
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-postgresql-headless
  labels:
    app: postgresql
    chart: postgresql-8.6.4
    release: "devtron"
  annotations:
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: tcp-postgresql
  selector:
    app: postgresql
    release: "devtron"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  labels:
    app: postgresql
    chart: postgresql-8.6.4
    release: "devtron"
  annotations:
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: tcp-postgresql
  selector:
    app: postgresql
    release: "devtron"
    role: master
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql-postgresql
  labels:
    app: postgresql
    chart: postgresql-8.6.4
    release: "devtron"
  annotations:
    "helm.sh/resource-policy": keep
spec:
  serviceName: postgresql-postgresql-headless
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: postgresql
      release: "devtron"
      role: master
  template:
    metadata:
      name: postgresql-postgresql
      labels:
        app: postgresql
        chart: postgresql-8.6.4
        release: "devtron"
        role: master
    spec:
      securityContext:
        fsGroup: 1001
      initContainers:
        - name: init-chmod-data
          image: "quay.io/devtron/minideb:latest"
          imagePullPolicy: "IfNotPresent"
          command:
            - /bin/sh
            - -cx
            - |

              mkdir -p /bitnami/postgresql/data
              chmod 700 /bitnami/postgresql/data
              find /bitnami/postgresql -mindepth 1 -maxdepth 1 -not -name ".snapshot" -not -name "lost+found" | \
                xargs chown -R 1001:1001
              chmod -R 777 /dev/shm
          {{- if .initContainer }}
          {{- if .initContainer.resources }}
          resources:
          {{- toYaml .initContainer.resources | nindent 12 }}
          {{- end }}
          {{- end }}
          securityContext:
            runAsUser: 0
          volumeMounts:
            - name: data
              mountPath: /bitnami/postgresql
              subPath:
            - name: dshm
              mountPath: /dev/shm
      containers:
        - name: postgresql-postgresql
          image: {{ .image }}
          imagePullPolicy: {{ .imagePullPolicy }}
          securityContext:
            runAsUser: 1001
          env:
            - name: BITNAMI_DEBUG
              value: "false"
            - name: POSTGRESQL_PORT_NUMBER
              value: "5432"
            - name: POSTGRESQL_VOLUME_DIR
              value: "/bitnami/postgresql"
            - name: PGDATA
              value: "/bitnami/postgresql/data"
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql-postgresql
                  key: postgresql-password
            - name: POSTGRES_DB
              value: "{{ $dbName }}"
            - name: POSTGRESQL_ENABLE_LDAP
              value: "no"
            - name: POSTGRESQL_SHARED_PRELOAD_LIBRARIES
              value: pgaudit, uuid-ossp
          {{- if .resources }}
          resources:
          {{- toYaml .resources | nindent 12 }}
          {{- end }}
          ports:
            - name: tcp-postgresql
              containerPort: 5432
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - exec pg_isready -U "postgres" -d "{{ $dbName }}" -h 127.0.0.1 -p 5432
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - -e
                - |
                  exec pg_isready -U "postgres" -d "{{ $dbName }}" -h 127.0.0.1 -p 5432
                  [ -f /opt/bitnami/postgresql/tmp/.initialized ] || [ -f /bitnami/postgresql/.initialized ]
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          volumeMounts:
            - name: custom-init-scripts
              mountPath: /docker-entrypoint-initdb.d/
            - name: dshm
              mountPath: /dev/shm
            - name: data
              mountPath: /bitnami/postgresql
              subPath:
        - name: metrics
          image: quay.io/devtron/postgres_exporter:v0.4.7
          imagePullPolicy: "IfNotPresent"
          env:
            - name: DATA_SOURCE_URI
              value: "127.0.0.1:5432/{{ $dbName }}?sslmode=disable"
            - name: DATA_SOURCE_PASS
              valueFrom:
                secretKeyRef:
                  name: postgresql-postgresql
                  key: postgresql-password
            - name: DATA_SOURCE_USER
              value: postgres
          {{- if .postgresExporter }}
          {{- if .postgresExporter.resources }}
          resources:
          {{- toYaml .postgresExporter.resources | nindent 12 }}
          {{- end }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http-metrics
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /
              port: http-metrics
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          volumeMounts:
          ports:
            - name: http-metrics
              containerPort: 9187
      volumes:
        - name: custom-init-scripts
          configMap:
            name: postgresql-postgresql-init-scripts
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 1Gi
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: {{ .persistence.volumeSize }}
{{- else }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-postgresql-customscripts
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"
    "helm.sh/resource-policy": keep
data:
  db_create.sql: |
{{- if not $.Values.global.externalDatabase }}
    create database casbin;
    create database git_sensor;
    create database lens;
{{- end }}
    create database clairv4;
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-postgresql-scripts
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"
    "helm.sh/resource-policy": keep
data:
  01-init-userdb.sh: |
    #!/bin/sh
    create_user()
    {
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" -v USERDBNAME="$POSTGRES_DB" -v USERDBUSER="$USERDB_USER" -v USERDBPASSWORD="'$USERDB_PASSWORD'" <<-EOSQL
      CREATE USER :USERDBUSER WITH PASSWORD :USERDBPASSWORD;
      GRANT ALL PRIVILEGES ON DATABASE :USERDBNAME TO :USERDBUSER;
    EOSQL
    }
    set -e
    if [ ! -z "$POSTGRES_DB" ] && [ ! -z "$USERDB_USER" ] && [ ! -z "$USERDB_PASSWORD" ]; then
      create_user
    fi
  init.sh: |
    #!/bin/sh
    echo "Start initialization"
    echo "Copy init-userdb script"
    cp /initscripts/01-init-userdb.sh /scripts
    if [ -d /extrascripts ]; then
      echo "Copy extra scripts"
      cp /extrascripts/* /scripts
    fi
    if [ -d /customscripts ]; then
      echo "Copy custom scripts"
      cp /customscripts/* /scripts
    fi
    if [ -d /customconfig ]; then
      echo "Create postgres config"
      cat /customconfig/* >>/configs/postgresql.conf
    fi
    if [ -d /extraconfigs ]; then
      echo "Add extra configs to postgres config"
      cat /extraconfigs/* >>/configs/postgresql.conf
    fi
    echo "Initialization done."
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-postgresql-metrics
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    prometheus.io/port: "9187"
    prometheus.io/scrape: "true"
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      port: 9187
      targetPort: http-metrics
  selector:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-postgresql-headless
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/resource-policy": keep
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql-postgresql
  labels:
    helm.sh/chart: postgres-0.4.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: devtron
    app.kubernetes.io/version: "14.5"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/resource-policy": keep
spec:
  replicas: 1
  serviceName: postgresql-postgresql
  podManagementPolicy: OrderedReady
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: postgres
      app.kubernetes.io/instance: devtron
  template:
    metadata:
      labels:
        app.kubernetes.io/name: postgres
        app.kubernetes.io/instance: devtron
    spec:
      securityContext:
        fsGroup: 999
      initContainers:
        - name: postgres-init
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 999
            runAsNonRoot: true
            runAsUser: 999
          image: {{ .armImage }}
          imagePullPolicy: {{ .imagePullPolicy }}
          {{- if .initContainer }}
          {{- if .initContainer.resources }}
          resources:
          {{- toYaml .initContainer.resources | nindent 12 }}
          {{- end }}
          {{- end }}
          volumeMounts:
            - mountPath: /customscripts
              name: customscripts-volume
            - mountPath: /initscripts
              name: initscripts
            - mountPath: /scripts
              name: scripts
            - mountPath: /configs
              name: configs
          command: [ "/initscripts/init.sh" ]
      containers:
        - name: postgres
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            runAsGroup: 999
            runAsNonRoot: true
            runAsUser: 999
          image: {{ .armImage }}
          imagePullPolicy: {{ .imagePullPolicy }}
          {{- if .resources }}
          resources:
          {{- toYaml .resources | nindent 12 }}
          {{- end }}
          ports:
            - name: postgres
              containerPort: 5432
              protocol: TCP
          env:
            - name: PGDATA
              value: "/var/lib/postgresql/data/pg"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: postgresql-password
                  name: postgresql-postgresql
          envFrom:
            - secretRef:
                name: postgresql-postgresql
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -h localhost
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
            periodSeconds: 10
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -h localhost
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -h localhost
            initialDelaySeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
            periodSeconds: 10
          volumeMounts:
            - mountPath: /var/run
              name: run
            - mountPath: /tmp
              name: tmp
            - mountPath: /var/lib/postgresql/data
              name: data
            - mountPath: /docker-entrypoint-initdb.d
              name: scripts
            - mountPath: /etc/postgresql
              name: configs
        - name: metrics
          image: prometheuscommunity/postgres-exporter:v0.10.1
          imagePullPolicy: "IfNotPresent"
          env:
            - name: DATA_SOURCE_URI
              value: "127.0.0.1:5432/{{ $dbName }}?sslmode=disable"
            - name: DATA_SOURCE_PASS
              valueFrom:
                secretKeyRef:
                  name: postgresql-postgresql
                  key: postgresql-password
            - name: DATA_SOURCE_USER
              value: postgres
          {{- if .postgresExporter }}
          {{- if .postgresExporter.resources }}
          resources:
          {{- toYaml .postgresExporter.resources | nindent 12 }}
          {{- end }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http-metrics
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          readinessProbe:
            httpGet:
              path: /
              port: http-metrics
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          volumeMounts:
          ports:
            - name: http-metrics
              containerPort: 9187
      volumes:
        - name: run
          emptyDir: {}
        - name: tmp
          emptyDir: {}
        - name: scripts
          emptyDir: {}
        - name: configs
          emptyDir: {}
        - name: initscripts
          configMap:
            name: postgresql-postgresql-scripts
            defaultMode: 0555
        - name: customscripts-volume
          configMap:
            name: postgresql-postgresql-customscripts
            defaultMode: 0555
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .persistence.volumeSize }}
{{- end }}
{{- end }}
