name: Sync issue to Azure DevOps work item (testing)

on:
  issues:
    types:
      [opened, edited, deleted, closed, reopened]

jobs:
  create_issues:
    runs-on: ubuntu-latest
    steps:
      - if: contains(github.event.issue.labels.*.name, 'bug')
        uses: danhellem/github-actions-issue-to-work-item@master
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "DevtronLabs"
          ado_project: "Devtron"
          ado_new_state: "To Do"
          ado_active_state: "Doing"
          ado_close_state: "Done"
          ado_bypassrules: true
          log_level: 100
          ado_wit: "Bug"
      - if: "!contains(github.event.issue.labels.*.name, 'bug')" 
        uses: danhellem/github-actions-issue-to-work-item@master
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "DevtronLabs"
          ado_project: "Devtron"
          ado_new_state: "To Do"
          ado_active_state: "Doing"
          ado_close_state: "Done"
          ado_bypassrules: true
          log_level: 100
          ado_wit: "Issue"