name: Sync issue to Azure DevOps work item (testing)

on:
  issues:
    types:
      [opened, edited, deleted, closed, reopened, labeled]

jobs:
  create_issues:
    runs-on: ubuntu-latest
    steps:
      - if: contains(github.event.issue.labels.*.name, 'bug')
        uses: danhellem/github-actions-issue-to-work-item@v2.1
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "DevtronLabs"
          ado_project: "Devtron"
          ado_wit: "Bug"
          ado_new_state: "To Do"
          ado_active_state: "Doing"
          ado_close_state: "Done"
          ado_bypassrules: true
          log_level: 100
      - if: "!contains(github.event.issue.labels.*.name, 'bug')" 
        uses: danhellem/github-actions-issue-to-work-item@v2.1
        env:
          ado_token: "${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}"
          github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          ado_organization: "DevtronLabs"
          ado_project: "Devtron"
          ado_wit: "User Story"
          ado_new_state: "To Do"
          ado_active_state: "Doing"
          ado_close_state: "Done"
          ado_bypassrules: true
          log_level: 100
      - if: github.event.label.name == 'pager-duty'
        name: custom issues
        env:
          DISCORD_WEBHOOK: ${{ secrets.GH_ISSUES_DISCORD_WEBHOOK }}
          DISCORD_WEBHOOK_FORUM: ${{ secrets.PAGERDUTY_DISCORD_WEBHOOK }}
          ENABLE_FORUM: true

        uses: devtron-labs/action-discord@master
        with:
          args: " ${{ github.event.issue.title }} ${{ github.event.issue.html_url }}"
  # reference: https://github.com/marketplace/actions/potential-duplicates
  potentialDuplicates:
    runs_on: ubuntu-latest
    steps:
      - uses: wow-actions/potential-duplicates@v1
        with:
          GITHUB_TOKEN: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"
          # Issue title filter work with anymatch https://www.npmjs.com/package/anymatch.
          # Any matched issue will stop detection immediately.
          # You can specify multi filters in each line.
          filter: ''
          # Exclude keywords in title before detecting.
          exclude: ''
          # Label to set, when potential duplicates are detected.
          label: potential-duplicate
          # Get issues with state to compare. Supported state: 'all', 'closed', 'open'.
          state: all
          # If similarity is higher than this threshold([0,1]), issue will be marked as duplicate.
          threshold: 0.4
          # Reactions to be add to comment when potential duplicates are detected.
          # Available reactions: "-1", "+1", "confused", "laugh", "heart", "hooray", "rocket", "eyes"
          reactions: 'eyes, confused'
          # Comment to post when potential duplicates are detected.
          comment: >
            Potential duplicates: {{#issues}}
              - [#{{ number }}] {{ title }} ({{ accuracy }}%)
            {{/issues}}
